<%# (The distinction between the two types of embedded Ruby is that the following line
executes the code inside, while <%= ... >% (with the = sign) %>
<%# executes it and inserts the result into the template.) %>

<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>